<div class="row item">

               <div class="twelve columns">

                  <h3>{{exp.position}}</h3>
                  <p class="info">{{exp.company_name}} <span>&bull;</span> <em class="date">{{exp.joining_date}} - {{exp.leaving_date}}</em></p>

                  <div>{{exp.desc}}
                       <div><b>What ive done in company:</b></div>
                       <ul>
                         <li>Created plans and communicated deadlines to ensure projects
                       were completed on time.</li>
                         <li>Worked flexible hours; night, weekend, and holiday shifts.</li>
                         <li>Participated in continuous improvement by generating
                       suggestions, engaging in problem-solving activities to support
                       teamwork.</li>
                         <li>Identified issues, analyzed information and provided solutions to
                       problems.</li>
                         <li>Used critical thinking to break down problems, evaluate solutions
                       and make decisions.</li>
                     </ul>
                   </div>

               </div>

            </div> <!-- item end -->